.Body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcyan;
}
.Body-container, .image-container {
    width: 70%;
    transition: all 0.5s ease-in 0.1s;
}

.image-container {
    position: relative;
    height: 30vh;
    border-radius: 15px;
    box-sizing: border-box;

    & p {
        font-size: 2rem;
        height: 1.5rem;
        cursor: pointer;
    }
}

.draggable {
    position: absolute !important;
}
